body {
    font-family: Verdana;
    color: black;
    background-image: url(background-image.jpg);
    font-size: 20px;
    background-size: cover;
    
}
   
.malzemeler {color:red;}
#nasil {color:blue;}

img {
    margin:auto;
    display:block;
    width:auto;
}

.yazi
{
    width:600px;
    margin:auto;
    text-align: justify;
    
}

.baslik{
    text-align: center;
}